<div class="form-container">

  <!-- Container for Image and Form side by side -->
  <div class="image-form-container">

    <!-- Form Box with the Actual Form -->
    <div class="form-box">

      <section class="description-header">
        <img src="./images/OnlyFlasksLogo.png" style="width:50%; margin-top: 7px;"/>
      </section>

      <hr />

      <div class="form-box-content" *ngIf="!formSubmitted">

        <form [formGroup]="ofRecruitForm">

          <h3><strong>Player Information</strong></h3>

          <div class="form-group">
              <!-- Discord Name -->
              <label for="DiscordName" class="form-label">Discord Name</label>
              <input type="text" id="DiscordName" formControlName="DiscordName"  class="form-control"
              placeholder="ex.Jay..." >            
          </div>

          <!-- Main Class Choice -->

          <div class="form-group-multiple">
            <div class="form-item-multiple-3">
              <!-- Main Role -->
              <label for="MainRole" class="form-label">Role</label>
              <select id="MainRole" formControlName="MainRole" placeholder="Select a Role..." class="form-control">
                <option value="">Select a Role...</option>
                <option *ngFor="let role of roles" [value]="role"> {{ role }}</option>
              </select>
            </div>

            <div class="form-item-multiple-3">
              <!-- Main Class-->
              <label for="MainClass" class="form-label">Class</label>
              <select id="MainClass" formControlName="MainClass" placeholder="Select a Class..." class="form-control">
                <option value="">Select a Class...</option>
                <option *ngFor="let class of classes" [value]="class"> {{ class }}</option>
              </select>
            </div>

            <div class="form-item-multiple-3">
              <!-- Main Spec-->
              <label for="MainSpec" class="form-label">Spec</label>
               <select id="MainSpec" formControlName="MainSpec" placeholder="Select a Spec..." class="form-control">
                <option value="">Select a Spec...</option>
                <option *ngFor="let spec of specs" [value]="spec"> {{ spec }}</option>
              </select>
            </div>

            <div class="form-item-button">
              <!-- Reset button -->
              <button [disabled]="ofRecruitForm.get('MainRole')?.value == ''" (click)="resetCharacterInfo('MainRole')" class="
                bg-amber-500 hover:bg-amber-600 cursor-pointer
                py-[6px] px-[6px] h-10 w-10 rounded text-sm text-gray-800 font-bold
                transition-colors duration-200 self-end flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rotate-ccw" aria-hidden="true">
                  <path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"></path><path d="M3 3v5h5">
                  </path>
                </svg>
              </button>
            </div>
          </div>

          <!-- Alt 1 Class Choice -->

          <div class="form-group-multiple">
            <div class="form-item-multiple-3">
              <!-- Alt 1 Role -->
              <label for="Alt1Role" class="form-label">Alt 1 Role</label>
              <select id="Alt1Role" formControlName="Alt1Role" placeholder="Select a Role..." class="form-control">
                <option value="" disabled>Select a Role...</option>
                <option *ngFor="let role of roles" [value]="role"> {{ role }}</option>
              </select>
            </div>

            <div class="form-item-multiple-3">
              <!-- Alt 1 Class-->
              <label for="Alt1Class" class="form-label">Alt 1 Class</label>
              <select id="Alt1Class" formControlName="Alt1Class" placeholder="Select a Class..." class="form-control">
                <option value="" disabled>Select a Class...</option>
                <option *ngFor="let class of alt1Classes" [value]="class"> {{ class }}</option>
              </select>
            </div>

            <div class="form-item-multiple-3">
              <!-- Alt 1 Spec-->
              <label for="Alt1Spec" class="form-label">Alt 1 Spec</label>
               <select id="Alt1Spec" formControlName="Alt1Spec" placeholder="Select a Spec..." class="form-control">
                <option value="" disabled>Select a Spec...</option>
                <option *ngFor="let spec of alt1Specs" [value]="spec"> {{ spec }}</option>
              </select>
            </div>

            <div class="form-item-button">
              <!-- Reset button -->
              <button [disabled]="ofRecruitForm.get('Alt1Role')?.value == ''" (click)="resetCharacterInfo('Alt1Role')" class="
                bg-amber-500 hover:bg-amber-600 cursor-pointer
                py-[6px] px-[6px] h-10 w-10 rounded text-sm text-gray-800 font-bold
                transition-colors duration-200 self-end flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rotate-ccw" aria-hidden="true">
                  <path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"></path><path d="M3 3v5h5">
                  </path>
                </svg>
              </button>
            </div>
          </div>

          <!-- Alt 2 Class Choice -->

          <div class="form-group-multiple">
            <div class="form-item-multiple-3">
              <!-- Alt 2 Role -->
              <label for="Alt2Role" class="form-label">Alt 2 Role</label>
              <select id="Alt2Role" formControlName="Alt2Role" placeholder="Select a Role..." class="form-control">
                <option value="" disabled>Select a Role...</option>
                <option *ngFor="let role of roles" [value]="role"> {{ role }}</option>
              </select>
            </div>

            <div class="form-item-multiple-3">
              <!-- Alt 2 Class-->
              <label for="Alt2Class" class="form-label">Alt 2 Class</label>
              <select id="Alt2Class" formControlName="Alt2Class" placeholder="Select a Class..." class="form-control">
                <option value="" disabled>Select a Class...</option>
                <option *ngFor="let class of alt2Classes" [value]="class"> {{ class }}</option>
              </select>
            </div>

            <div class="form-item-multiple-3">
              <!-- Alt 2 Spec-->
              <label for="Alt2Spec" class="form-label">Alt 2 Spec</label>
               <select id="Alt2Spec" formControlName="Alt2Spec" placeholder="Select a Spec..." class="form-control">
                <option value="" disabled>Select a Spec...</option>
                <option *ngFor="let spec of alt2Specs" [value]="spec"> {{ spec }}</option>
              </select>
            </div>

            <div class="form-item-button">
              <!-- Reset button -->
              <button [disabled]="ofRecruitForm.get('Alt2Role')?.value == ''" (click)="resetCharacterInfo('Alt2Role')" class="
                bg-amber-500 hover:bg-amber-600 cursor-pointer
                py-[6px] px-[6px] h-10 w-10 rounded text-sm text-gray-800 font-bold
                transition-colors duration-200 self-end flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rotate-ccw" aria-hidden="true">
                  <path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"></path><path d="M3 3v5h5">
                  </path>
                </svg>
              </button>
            </div>
          </div>

          <hr />

          <!--Guild Questions -->
          <h3><strong>Guild Questions</strong></h3>

          <!-- Sales Checkbox -->
          <div class="question-box">
            <label>
              Are you interested in participating in sales so that the guild and you can generate income?
              <input class="checkbox-item" type="checkbox" formControlName="Sales" />
            </label>
          </div>
          
          <!-- Leadership checkbox -->
          <div class="question-box">
            <label>
              Are you interested in leadership?
              <input class="checkbox-item" type="checkbox" formControlName="Leadership" />
            </label>  
          </div>

          <!-- Recruiting help checkbox -->
          <div class="question-box">
            <label>
              Are you interested in helping to recruit additional members?
              <input class="checkbox-item" type="checkbox" formControlName="RecruitingHelp" />
            </label>  
          </div>

          <!-- Expectations help checkbox -->
          <h4>What are your expectations for our raid team? (Check all that apply)</h4>
          <div class="question-box-3">
            <label>
              Hall of Fame
              <input class="checkbox-item" type="checkbox" formControlName="HOF" />
            </label>  

            <label>
              (3 days during early season)
              <input class="checkbox-item" type="checkbox" formControlName="StretchWeek" />
            </label>  

            <label>
              (Optional 3rd day)
              <input class="checkbox-item" type="checkbox" formControlName="Optional" />
            </label>  
          </div>

          <hr/>
        
          <!-- Comments -->

          <div class="form-group">
              <!-- Comments Area-->
              <label for="Comments" class="form-label">Additional Comments</label>
              <textarea id="Comments" cols="100" rows="3" placeholder="Type here..." formControlName="Comments" class="form-control"></textarea>
          </div>


          <!-- Button Container - NEW -->
          <div class="button-container">
            <!-- Submit Button -->
            <button type="submit" class="btn" [disabled]="ofRecruitForm.invalid || formSubmitted" (click)="onSubmit(ofRecruitForm.value)">Submit</button>
            
            <!-- Reset Button -->
            <button type="button" class="btn-reset" (click)="clearFields()">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>