html{background-image:url(/images/Midnight-duality-voidstorm.png);height:100%;background-size:auto;background-repeat:repeat;background-attachment:scroll;background-position:center top;font-family:Inter,sans-serif}
